.who{
    height:85%;
    width:85%;
}
.asc{
    color:#00c8c8;
    display: block;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 400px;
    width: 516.359px;
    margin-top:100px;
}
.text{
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400px;
    width: 516.389px;
}
.row1{
    background: #F5F7FB
}

@media (max-width:320px){
    .asc{
        
  margin-top:10px;
  color:#00c8c8;  
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
    }
    .text{
        width: auto;
        
    }
    .card{
        margin:0
    }
    body{
        max-width: 100%;
    }
    .image img{
        margin-left:15px
    }

} 
@media (max-width:375px){
    .asc{
        
  margin-top:10px;
  color:#00c8c8;  
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
    }
    .text{
        width: auto;
    }
    .card{
        margin:0
    }
    body{
        max-width: 100%;
    }
   
} 
@media (max-width:425px){
    .asc{
        
  margin-top:10px;
  color:#00c8c8;  
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
    }
    .text{
        width: auto;
    }
    .card{
        margin:0
    }
    body{
        max-width: 100%;
    }
} 
.hiw{
    font-size: 36px;
    font-weight:700px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    margin-top:20px; 
}
.para{
    font-size:16px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400;
    margin:40px;
}
.off{
    background: #263A42;
    color:white;
    height:auto;
}
.card{
    padding:15px;
    height: 350px;
    width:300px;
    margin:30px;
}
.card img{
    height:45%;
    width:100%;
    margin-bottom: 20px;
}
.card h3{
    margin:20px 0px 20px 0px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}
.card p{
    margin:20px 0px 20px 0px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 18px;
}


.card:hover {
    position: relative;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px -1px 22px 19px rgba(185,210,247,0.89);
    
  }
  .para1{
    font-size:16px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400;
    margin:40px 0px 40px 0px;
    line-height: 23.3px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
   
 
    
}
.team{
    
font-family: Arial,Helvetica,Verdana,sans-serif;
font-weight: 700;
font-size: 38px ;
color: #333;
margin-top:20px;
}
hr{
    box-shadow: 0 0 3px 0 rgba(0,0,0,.08);
    border-top: 1px solid #f7f7f7 !important;
    margin-top:10px;
}
.image img{
    margin-bottom:80px;
}
